/*vars*/
$container-width: 1037px;

/*colors*/
$bg-color: #fbfbfb;
$grey: #56596a;
$orange: #f7c880;
$orange1: #f5cb8a;
$pink: #ff6c79;
$pink1: #fe777b;
$pink2: #fc897e;



/*layout*/
@import "_adjust/fonts.scss";
@import "../bower/normalize.css/normalize.css";
@import "_adjust/adjustment.scss";
@import "additional/font-awesome.css";
@import "sections/layout.scss";
@import "sections/header.scss";
@import "sections/hero.scss";
@import "sections/flowers.scss";
@import "sections/slick.css";
@import "sections/slick-theme.css";
@import "sections/why.scss";
@import "sections/pack.scss";
@import "sections/bouquets.scss";
@import "sections/how.scss";
@import "sections/incognito.scss";
@import "sections/footer.scss";
@import "sections/modal-order.scss";




