.bouquets {
  padding-top: 50px;

  .section-title {
    font-weight: 700;
    margin-bottom: 86px;
  }
}

//bouquets

.bouquets__list {
  text-align: center;
  margin-bottom: 78px;
}

.bouquets__item {
  display: inline-block;
  vertical-align: top;
  width: 160px;
  height: 160px;
  transform: rotate(45deg);
  margin-left: -15px;
  margin-right: -15px;
  padding: 20px;
  position: relative;
  overflow: hidden;

  &:nth-child(even) {
    margin-top: 150px;
  }
}

.bouquets__link {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;

  &:after {
    content: "";
    position: absolute;
    top: -40px;
    left: -40px;
    width: 250px;
    height: 250px;
    background-position: top center;
    background-repeat: no-repeat;
    transform: rotate(-45deg);
  }

  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: rgba(#cbd5d3, 0.3);
    z-index: 1;
    transition: background-color .2s;
  }

  &:hover {
    .bouquets__text {
      display: block;
    }

    &:before {
      background-color: rgba(#f6c489, 0.8);
    }

    // .bouquets__link:after {
    //   background-size: 200%;
    //   width: 300px;
    //   height: 300px;
    // }


  }
}

.bouquets__item_1 {
  .bouquets__link:after {
    background-image: url('./../images/bouquet1.jpg');
  }
}

.bouquets__item_2 {
  .bouquets__link:after {
    background-image: url('./../images/bouquet2.jpg');
  }
}

.bouquets__item_3 {
  .bouquets__link:after {
    background-image: url('./../images/bouquet3.jpg');
  }
}

.bouquets__item_4 {
  .bouquets__link:after {
    background-image: url('./../images/bouquet4.jpg');
  }
}

.bouquets__item_5 {
  .bouquets__link:after {
    background-image: url('./../images/bouquet5.jpg');
  }
}

.bouquets__text {
  position: relative;
  z-index: 2;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #fff;
  transform: rotate(-45deg);
  margin-top: 60px;
  padding-left: 15px;
  padding-right: 15px;
  display: none;
}

//socials

.socials__list {
  margin: 0 auto;
  margin-bottom: 17px;
  text-align: center;
}

.socials__item {
  display: inline-block;
  margin-left: 7px;
  margin-right: 7px;
}

.socials__link {
  font-size: 0;
  display: block;
  width: 33px;
  height: 33px;
  padding: 2px;
  border: 3px solid;
  border-color: $pink2;
  border-radius: 50%;
  transition: border-color .3s;

  &:after {
    content: "";
    color: $pink2;
    font-family: 'FontAwesome';
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    transition: color .3s;
  }

  &:hover {
    border-color: $orange1;

    &:after {
      color: $orange1;
    }
  }
}

.socials__item_inst {
  .socials__link:after {
    content: "\f16d";
  }
}

.socials__item_fb {
  .socials__link:after {
    content: "\f09a";
  }
}

.socials__item_vk {
  .socials__link:after {
    content: "\f189";
  }
}

.socials__text {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 60px;

  p {
    color: $grey;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-top: 0;
    margin-bottom: -4px;
  }
}

//your-bouquet

.your-bouquet {
  text-align: center;
  min-height: 300px;
  background: url('./../images/your-bouquet.jpg') center center no-repeat;
  background-size: cover;
  padding-top: 75px;
  padding-bottom: 75px;
}

.your-bouquet__title {
  color: #fbffff;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.your-bouquet__descr {
  color: #fbffff;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 2px;
  margin-bottom: 25px;
}