.section-title {
  color: $grey;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 2px;
  text-align: center;
  margin-bottom: 35px;

  &:after {
    content: "";
    display: block;
    width: 100px;
    height: 3px;
    background-color: $orange;
    margin: 10px auto;
  }
}

.btn {
  display: inline-block;
  padding: 10px 40px;
  border-radius: 20px;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fff;
  outline: none;
}

.btn_orange {
  background-color: $orange1;
  transition: background-color .3s;

  &:hover {
    background-color: #fbbc5e;
  }
}

.btn_pink {
  background-color: $pink1;
  transition: background-color .3s;

  &:hover {
    background-color: #fe6371;
  }
}

.btn_small {
  font-size: 14px;
  padding: 10px 25px;
}