.pack {
  padding-top: 50px;
}

.pack__block {

  background-image: linear-gradient(to right, #f5cc8a 0%, #ff6978 100%);

  .container {
    position: relative;
    min-height: 390px;
  }

  .btn {
    margin-bottom: 25px;
  }
}

#pack-slider {
  min-height: 390px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.pack__image {
  float: left;
  max-width: 50%;
  max-height: 428px;
}

.pack__content {
  padding-top: 135px;
  margin-left: 50%;
  width: 50%;
}

.pack__title {
  color: #fbffff;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

.pack__descr {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 25px;
}
